html {
  font-family: Helvetica, sans-serif;
  font-size: 20px;

  text-align: center;
}

.coffee-page__container {
  margin: 0 auto; 
}

a.link {
  text-decoration: none;
  color: black;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo__pic {
  width: 100%;
  height: 50px;
}

.header__links {
  display: flex;
  justify-content: space-between;
}

.header__link {
  text-decoration: none;
}

.header__link:not(:last-child) {
  margin-right: 12px;
}


/* topics */

.coffee-page__topics {
  margin: 0 auto;
  max-width: 1200px;
}

.coffee-page__topic {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  flex-direction: column;
}

/* mission */

.coffee-page__mission {
  background-image: url(https://img.freepik.com/free-photo/coffee-beans-top-view-white-background-space-text_176474-5028.jpg?w=2000);
  background-repeat: no-repeat;
  height: 500px;
  background-size: cover;
  display: flex;
  padding: 0 50px;
  align-items: end;
  justify-content: center;
}

@media only screen and (max-width: 760px) {
  .coffee-page__mission {
    align-items: center;
  }
}

/* locations */

.coffee-page__locations {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.coffee-page__location {
  display: flex;
  flex-direction: column;
}

.location__map img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.location__map:hover img {
  opacity: 0.4;
}

.location__name {
  font-size: 14px;
}

@media only screen and (max-width: 760px) {
  .coffee-page__locations {
    flex-direction: column;
  }
  .coffee-page__location {
    margin-bottom: 15px;
  }
  .location__map img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 0;
  }
}

/* team */

.coffee-page__team {
  display: flex;
  justify-content: center;
}  

.team__person:not(:last-child) {
  margin-right: 12px;
}

.person__pic {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 30px;
}

@media only screen and (max-width: 760px) {
  .coffee-page__team {
    flex-direction: column;
  }
  .person__pic {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
  }
  .team__person:not(:last-child) {
    margin-right: 0;
  }
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 50px;

}

.footer__copyright {
  color: grey;
}

.footer__links {
  display: flex;
  align-items: center;
  height: 50px;
}

.link__icon img {
  height: 20px;
}

.link__icon:not(:last-child) {
  margin-right: 12px;
}